@mixin glitchCopy {
  content: attr(data-text);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: transparent;
  color: transparent;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);

  transform: skewX(0deg);
}



.glitch-text {
  position: relative;
  text-shadow:
    0px -5px 10px rgba(#fff, 1),
    0px 0px 5px rgba(#fff, 0),
    0px 0px 10px rgba(#fff, 0),
    0px 0px 15px rgba(#fff, 0),
    0px 0px 20px rgba(#fff, 0);
  animation:
    noise-anim 3s infinite linear alternate-reverse,
    shift 4s ease-in-out infinite alternate,
    blur 8s ease-in-out infinite alternate;
  transform: skewX(0deg);

  &:after {
    @include glitchCopy();
    left: 3px;
    text-shadow: -1px 0 red;
    animation:
      noise-anim 3s infinite linear alternate-reverse,
      shift 4s ease-in-out infinite alternate;
    z-index: -2;
    opacity: .7;
  }

  &:before {
    @include glitchCopy();
    left:1px;
    text-shadow: -3px 0 cyan;
    animation:
      noise-anim 3s infinite linear alternate-reverse,
      shift 4s ease-in-out infinite alternate;
    z-index: -1;
    opacity: .8;
  }
}

@keyframes blur {
  0%, 40%, 50%, 60%, 90%, 95%, 100% {
    text-shadow:
      0px -5px 10px rgba(#fff, 1),
      0px 0px 5px rgba(#fff, 0),
      0px 0px 10px rgba(#fff, 0),
      2px 1px 15px rgba(#64f0ff, 0),
      0px 0px 20px rgba(#fff, 0);
  }

  45%, 75% {
    text-shadow:
      0px -5px 10px rgba(#fff, 1),
      0px 0px 5px rgba(#fff, 1),
      0px 0px 10px rgba(#fff, 1),
      2px 1px 15px rgba(#64f0ff, 1),
      0px 0px 20px rgba(#fff, 1);
  }

  97.5% {
    text-shadow:
      0px -5px 10px rgba(#fff, 0),
      0px 0px 5px rgba(#fff, 0),
      0px 0px 10px rgba(#fff, 0),
      2px 1px 4px rgba(#ff6464, 1),
      0px 0px 20px rgba(#fff, 0);
  }
}

@keyframes noise-anim {
  $steps:20;
  @for $i from 0 through $steps {
    #{percentage($i * calc(1 / $steps))} {
      clip: rect(random(100) + px, 9999px, random(100) + px, 0);
    }
  }
}

@keyframes shift {
  0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
    transform: skewX(0deg);
  }

  41% { transform: skewX(10deg); }
  42% { transform: skewX(-10deg); }
  59% { transform: skewX(40deg) skewY(10deg); }
  60% { transform: skewX(-40deg) skewY(-10deg); }
  63% { transform: skewX(10deg) skewY(-5deg); }
  70% { transform: skewX(-50deg) skewY(-20deg); }
  71% { transform: skewX(10deg) skewY(-10deg); }
}
